.cal-con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 100%;
    flex-direction: column;
    gap: 30px;

}
.calculator{
    border: 5px solid rgb(150, 140, 140);
    border-radius: 10px;
    background-color: rgb(184, 147, 147);
    color: beige;
    height: 350px;
    width: 220px;
    display: grid;
    gap: 3px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr;
}
.display{
    text-align: right;
    font-size: 20px;
    grid-column: span 4;
    color:rgb(68, 56, 56);
    background-color: rgb(221, 206, 206);
    border: 1px solid rgb(119, 109, 109);
    border-radius: 15px;
}
.equls{
    grid-row: span 2;

}
.zero{
    grid-column: span 2;
}
.sky{
    background-color: rgb(47, 110, 110);
    border: none;
    border-radius: 35%;
    color: rgb(182, 182, 199);
    box-shadow: 2px 2px 2px 2px rgb(58, 73, 65);
}
.blue{
    background-color: rgb(44, 44, 116);
    border: none;
    border-radius: 35%;
    color: rgb(228, 206, 172);
    box-shadow: 2px 2px 2px 2px rgb(77, 82, 122);
}
.red{
    background-color: rgb(141, 53, 53);
    border: none;
    border-radius: 35%;
    box-shadow: 2px 2px 2px 2px rgb(146, 106, 83);
}
button:active {
    background-color: rgb(151, 137, 137);
}

